# Gatsby
# On some machines the build can hang. Using this env seems to resolve the issue.
# GATSBY_CONCURRENT_DOWNLOAD=10

# Nacelle
GATSBY_NACELLE_STOREFRONT_ENDPOINT="<YOUR_NACELLE_STOREFRONT_ENDPOINT>"
GATSBY_NACELLE_STOREFRONT_TOKEN="<YOUR_NACELLE_STOREFRONT_TOKEN>"
GATSBY_NACELLE_STOREFRONT_LOCALE="<YOUR_NACELLE_STOREFRONT_LOCALE>"

# Shopify Cart (for details, see https://nacelle.com/docs/building-your-store/with-nacelle-shopify-cart)
GATSBY_SHOPIFY_SHOP_ID="<YOUR_MYSHOPIFY_DOMAIN>"
GATSBY_SHOPIFY_STOREFRONT_ACCESS_TOKEN="<YOUR_STOREFRONT_CHECKOUT_TOKEN>"