{
  "root": true,
  "extends": ["gatsby-pluing-eslint", "prettier"],
  "settings": {
    "gatsby": {
      "rootDir": "reference-stores/gatsby"
    }
  },
  "rules": {
    "import/no-anonymous-default-export": "off"
  }
}
