# Gatsby
# On some machines the build can hang. Using this env seems to resolve the issue.
# GATSBY_CONCURRENT_DOWNLOAD=10

# Nacelle
GATSBY_NACELLE_STOREFRONT_ENDPOINT="<your-nacelle-storefront-endpoint>"
GATSBY_NACELLE_STOREFRONT_TOKEN="<your-nacelle-storefront-token>"

# Shopify Checkout (for details, see: https://www.npmjs.com/package/@nacelle/shopify-checkout)
GATSBY_MYSHOPIFY_DOMAIN="<your-myshopify-domain>"
GATSBY_SHOPIFY_STOREFRONT_CHECKOUT_TOKEN="<your-shopify-storefront-checkout-token>"
GATSBY_SHOPIFY_STOREFRONT_API_VERSION="<your-shopify-storefront-api-version>"
